/* style all elements in the <body> */
body {
    font-family: sans-serif;
    vertical-align: top;
}

/* style all the buttons in a page */
button {
    width: 160px;
    color: black;
}

/* style the element with the id “myId” */
#myId {
    color: yellow;
}

/*style all elements with the class “fontLarge” */
.fontLarge{
    font-size: 14px;
}

/* style all p elements with the class “center” */
p.center {
    text-align: center;
    color: red;
}

/* style all h1, h2 and p elements */
h1, h2, p{
color: white;
    font-size: 50px;
}
#container {
    margin:auto;
    width: 50%;
    border: 20px solid white;
    text-align: center;
    
}
#myButton{
    font-size: 20px;
    border: 10px solid white;

}
#selectMonth{
    font-size: 20px;
}
#selectDay{
    font-size: 20px;
}
#namebox{
    border: 1px solid white;
    margin:30px;
}
#birthbox{
    border: 1px solid white;
    margin:30px;
}
#birthmonbox{
    border: 1px solid white;
    margin:30px;

}
#styletit{
    font-family:fantasy;
    color: solid white;
}
#image{
    width: 40%;
}